.features-section article {
  padding: 50px 0;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-section .features-intro {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.features-section .headings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features-section article h2,
.features-section article h3 {
  font-weight: 400;
}

.features-section article h2 {
  font-size: var(--size-40);
}

.features-section .headings-container h3 {
  font-size: var(--size-25);
}

.features-section .intro-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.features-section .intro-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-section .intro-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-section .intro-images img {
  width: 500px;
}

.features-section .feature {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.features-section .feature > div {
  width: 100%;
}

.features-section .feature img {
  width: 100%;
}

.features-section .feature .content-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-section .feature:nth-child(even) {
  flex-direction: row-reverse;
}

.features-section .explore-courses-button {
  font-size: var(--size-18);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 100px;
  max-width: max-content;
}

@media (max-width: 1023px) {
  .features-section .feature.container-lg {
    padding: 30px;
  }
  .features-section .feature:nth-child(even),
  .features-section .feature {
    flex-direction: column;
  }

  .features-section .feature img {
    max-width: 80%;
  }

  .features-section .feature:nth-child(4) img {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .features-section .headings-container h2 {
    font-size: var(--size-30);
  }

  .features-section .headings-container h3 {
    font-size: var(--size-20);
  }
}
