.features-section article {
  padding: 50px 0;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-section .features-intro {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.features-section .headings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features-section .headings-container h2,
.features-section .headings-container h3 {
  font-weight: 400;
}

.features-section .headings-container h2 {
  font-size: var(--size-40);
}

.features-section .headings-container h3 {
  font-size: var(--size-25);
}

.features-section .intro-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.features-section .intro-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-section .intro-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-section img {
  width: 500px;
}

@media (max-width: 767px) {
  .features-section .headings-container h2 {
    font-size: var(--size-30);
  }

  .features-section .headings-container h3 {
    font-size: var(--size-20);
  }
}
