:root {
  --bg-color: #fff;
  --bg-soft: #f5f5f5;
  --bg-dropdown: #969696;
  --text-color: #383838;
  --text-color-dropdown: #fff;
  --lnk-color: #969696;
  --lnk-hover: #000;
  --lnk-dropdown-hover: #898989;
}
