.top-header {
  width: 100%;
}

.top-header .header-container {
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 60px;
  padding: 30px;
  border-bottom: 1px solid black;
}

.top-header .header-logo img {
  width: 250px;
}

.top-header .trigram,
.top-header .header-logo img {
  z-index: 20;
}

.top-header .trigram {
  font-size: var(--size-25);
  cursor: pointer;
  display: none;
}

.top-header .top-navigation ul {
  gap: 30px;
}

.top-header .trigram,
.top-header .top-navigation a {
  color: var(--lnk-base);
  transition: 0.25s color;
}

.top-header .trigram:hover,
.top-header .top-navigation a:hover {
  color: var(--lnk-hover);
}

.top-header .top-navigation a {
  color: var(--lnk-base);
  font-size: var(--size-12);
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .top-header .header-logo img {
    width: 150px;
  }

  .top-header [aria-expanded] {
    display: unset;
  }

  /* 
  .top-header [aria-expanded="true"] {
    color: white;
  } */

  .top-header [aria-expanded] ~ .top-navigation {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #969696;
    color: white;
    opacity: 0;
    visibility: 0;
  }
  .top-header [aria-expanded="true"] ~ .top-navigation {
    transition: background-color 400ms ease, opacity 400ms ease,
      visibility 400ms ease;
    opacity: 1;
    visibility: 1;
  }

  .top-header [aria-expanded="true"] ~ .top-navigation ul {
    padding: 20px 10px;
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .top-header [aria-expanded="true"] ~ .top-navigation li {
    width: 100%;
  }

  .top-header [aria-expanded="true"] ~ .top-navigation a {
    display: block;
    padding: 10px;
  }

  .top-header [aria-expanded="true"] ~ .top-navigation a:hover {
    background-color: #898989;
  }

  .top-header [aria-expanded="true"] ~ .top-navigation a {
    color: white;
  }
}
