.top-header {
  border-bottom: 1px solid var(--box-shadow);
  background-color: var(--bg-soft);
  box-shadow: 3px 0px 10px 5px var(--box-shadow);
  transition: background-color var(--transition-speed) ease-in;
}

.top-header.aria-expanded-true {
  box-shadow: unset;
  background-color: var(--bg-dropdown);
  border-bottom: none;
}

.top-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-size);
}

.top-header .logo-container {
  max-width: 250px;
}

.top-header .logo-container img {
  width: 100%;
}

.top-header .trigram i,
.top-header .nav-item a {
  transition: color var(--transition-speed) ease;
}

.top-header .trigram:hover i,
.top-header .navbar-nav a:hover {
  color: var(--lnk-hover);
}

.top-header .trigram {
  display: none;
}

.top-header .trigram a {
  display: flex;
  flex-direction: column;
}

.top-header .trigram i {
  font-size: var(--size-30);
}

.top-header .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.top-header .navbar-nav .nav-item {
  font-size: var(--size-14);
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

@media (max-width: 1232px) {
  .top-header .header-container {
    max-width: 784px;
  }
}

@media (max-width: 763px) {
  .top-header.top-header.aria-expanded-true {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .top-header.aria-expanded-true .trigram a {
    color: #fff;
  }

  .top-header .trigram {
    display: unset;
  }

  .top-header .trigram[aria-expanded="true"] .fa-bars,
  .top-header .trigram[aria-expanded="false"] .fa-x {
    display: none;
  }

  .top-header .trigram[aria-expanded="false"] ~ .navbar {
    display: none;
  }

  .top-header .trigram[aria-expanded="true"] ~ .navbar {
    position: absolute;
    top: var(--nav-size);
    right: 0;
    left: 0;
    bottom: 0;
  }

  .top-header .trigram[aria-expanded="true"] ~ .navbar .navbar-nav {
    flex-direction: column;
    gap: 0;
    background-color: var(--bg-dropdown);
  }

  .top-header .trigram[aria-expanded="true"] ~ .navbar .nav-item {
    width: 100%;
    display: flex;
    text-align: center;
  }

  .top-header .trigram[aria-expanded="true"] ~ .navbar .nav-item a {
    padding: 1rem 0;
    color: #fff;
    display: block;
    width: 100%;
    transition: background-color calc(var(--transition-speed) / 2) ease-in;
  }

  .top-header .trigram[aria-expanded="true"] ~ .navbar .nav-item a:hover {
    background-color: var(--lnk-dropdown-hover);
  }
}
