.video-section {
  background-image: url("https://import.cdn.thinkific.com/88925/qagCmQb9T2aTYEhVzn5L_thinkific-banner.png");
  height: 500px;
  background-position: center center;
  background-size: cover;
}
